/* Quando o plugin está desabilitado, fazemos o <details> se comportar como um elemento normal */
.md-panels-disabled details.md-panel,
.md-panels-disabled details.md-panel-list {
    /* Impede que o conteúdo dentro do <details> seja escondido */
    display: block;
}

.md-panels-disabled details.md-panel>summary,
.md-panels-disabled details.md-panel-list>summary {
    /* Esconde o triângulo (marcador) do <summary> */
    list-style: none;
    /* Remove o cursor de ponteiro */
    cursor: default;
}